.analog-clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.analog-clock .analog-clock__wrapper {
    height: 400px;
    width: 400px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
}

.analog-clock .analog-clock__wrapper-inside {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: #fff;
    border-radius: 200px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.75) inset;
}

.analog-clock .analog-clock__center {
    position:absolute;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    z-index:10;
}

.analog-clock .analog-clock__arrow {
    position: absolute;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    margin:195px;
}

.analog-clock .analog-clock__arrow_wide {
    width: 4px;
    border-radius: 4px;
    -webkit-transform-origin: 2px 0;
    -moz-transform-origin: 2px 0;
    -o-transform-origin: 2px 0;
    -ms-transform-origin: 2px 0;
    transform-origin: 2px 0;
}

.analog-clock .analog-clock__arrow_thin {
    width: 2px;
    border-radius: 2px;
    -webkit-transform-origin: 1px 0;
    -moz-transform-origin: 1px 0;
    -o-transform-origin: 1px 0;
    -ms-transform-origin: 1px 0;
    transform-origin: 1px 0;
}

.analog-clock .analog-clock_hours {
    height: 130px;
    background-color: #fff;
    z-index: 3;
}

.analog-clock .analog-clock_minutes {
    height: 175px;
    background-color: #fff;
    z-index: 4;
}

.analog-clock .analog-clock_seconds {
    height: 190px;
    background: #f00;
    z-index: 5;
}